language: node_js
node_js:
  - "6"
  - "5"
  - "4"

# Install yosys and inkscape
sudo: true
dist: trusty
before_install:
  - sudo add-apt-repository -y ppa:saltmakrell/ppa
  - sudo apt-get update
  - sudo apt-get install -y yosys
  - sudo apt-get install -y inkscape

# Once https://github.com/travis-ci/apt-source-whitelist/pull/376 is merged,
# the above lines can be replaced with the following;
#
# addons:
#  apt:
#    sources:
#      - yosys
#    packages:
#      - yosys
#      - inkscape


script:
  - npm test
  - npm run build-demo
  - cd examples; make build.all; cd ..

env:
  global:
    secure: dPYulPwsPkxPDNiDEQzhbGKdPP2uiKfaGP4g3tQyk0d6kjrdwxJqe0NxoBcZqwWwdHPaRZYkfLLnctbRGXKnq7RPoQ+mYpvpkSIlpQLg2S58mjMdmkUwv7/MraubhpaCmAOoZriFFRx6e/yBo2fkUTdtayt1uMV2nBcKRlhPQxx9OG4G8oHlUreHINsFv0Psn/aROAFji0WIjTRjTF5qlpaAFmRQukgDgULzoJUfWDU0+L6tsLMViAaC+gLmYRaPeqMN0C+i1ciy6LpgpCUifH+XwhO/hoSIOLdBxjKVnoWZrS1Y4kXnNfGfL0cLFs3Oi0ssrmA9waQ+LRxAhpm8Gj31nQD4rFyS/kCTv6JLKUpF3phtzLTXXLZySY1i9YyljjI0hsBh1FdMmigH/SyKy90dTr2CDX4XHIW8nr+12PNqNrX46DcqbJJrj2LfK/SGiAG2881NTI7OLipOk6rjbbq27yJc/J9qlIN+VyhikZa9bu8tDLSBzSzjhZS2WZBuZWTVn1OhDIaO3S9v15aKQoflrP7ZBo1Nr3T4HMvTlewFhdrVwOSfDhDcokUiNX8lBiw4str1Z5ibc7wZ6xOijzqHEQmiiOKKJ2mzaVT3NAWNia2f4EmfRvtST7/uXcKS01JRY/gLkG5y2W7zcKd1AWb8gqW3udtGxu7qbc5oZHo=

deploy:
  provider: pages
  skip_cleanup: true
  github_token: GH_KEY
  local_dir: demo
  on:
    branch: master
    node: "6"
